.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.shoe {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px gray solid;
    text-align: center;
    padding: 20px;
    margin: 8px 0px;
    transition: all 0.3s ease;
}

.shoe:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.shoeImg {
    border-radius: 8px;
}

.shoeH {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.shoePrice {
    font-size: 20px;
    color: #007bffa4;
    font-weight: bold;
}
