@import url('./collections/collections.css');
@import url('./shoePage/shoePage.css');
@font-face {
    /* got it from https://fonts.google.com/specimen/Doto */
    font-family: 'Doto';
    src: 
        url('./assets/Doto/Doto-Black.ttf') format('truetype'),
        url('./assets/Doto/Doto-Bold.ttf') format('truetype'),
        url('./assets/Doto/Doto-ExtraBold.ttf') format('truetype'),
        url('./assets/Doto/Doto-ExtraLight.ttf') format('truetype'),
        url('./assets/Doto/Doto-Light.ttf') format('truetype'),
        url('./assets/Doto/Doto-Medium.ttf') format('truetype'),
        url('./assets/Doto/Doto-Regular.ttf') format('truetype'),
        url('./assets/Doto/Doto-SemiBold.ttf') format('truetype'),
        url('./assets/Doto/Doto-Thin.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-Black.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-Bold.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-ExtraBold.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-ExtraLight.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-Light.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-Medium.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-Regular.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-SemiBold.ttf') format('truetype'),
        url('./assets/Doto/Doto_Rounded-Thin.ttf') format('truetype'),
}

body {
    margin: 0px;
    font-family: 'Doto', sans-serif;
    background-color: #f8f8f8df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

header {
    width: 100%;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.topNavA {
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.topNavA:hover {
    border-bottom: 2px black solid;
}

.topNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px rgba(145, 145, 145, 0.413) solid;
    background-color: #f8f8f8df;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;
    gap: 20px;
}

.iconImg {
    background-color: #f6f6f6;
    border: 1px #bebebe solid;
    padding: 4px;
    border-radius: 5px;
}

.iconImg:hover {
    background-color: rgb(224, 222, 222);
    border: 1px black solid;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.shoePrice {
    font-size: 20px;
    color: #007bffa4;
    font-weight: bold;
}

.gotoShoeAn {
    text-decoration: none;
}

.homePage {
    text-align: center;
}

.stockTitle {
    font-size: 18px;
    text-align: center;
}

.stockP {
    font-size: 14px;
    text-align: left;
}